<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="titles"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="donate">
    <div class="user-img">
      <img [src]="image" alt="this is the image">
    </div>
    <div class="fundraising">
      <p>
        {{title}}
      </p>
    </div>
    <div class="story">
      <p>
        {{description}}
      </p>
    </div>
  </div>
</ion-content>