<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Free airtime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="datas">
    <ion-row class="align-items-center" *ngFor="let record of records; let i = index">
      <div class="card" (click)="showBannerAd()">
        <div class="face back ion-padding">
          <ion-card-title class="titles">Network: {{record.airtimeTpye}}</ion-card-title>
          <ion-card-subtitle class="description">{{record.voucherType}}</ion-card-subtitle>
          <ion-card-subtitle class="voucher">{{record.voucherCode}}</ion-card-subtitle>
          <h5 class="ion-text-right">{{record.timeUpdate}}</h5>
        </div>
      </div>
    </ion-row>
  </div>

  <div *ngIf="!datas">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 100%; height: 130px" slot="start"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%; height: 130px" slot="start"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%; height: 130px" slot="start"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%; height: 130px" slot="start"></ion-skeleton-text>
    </div>
  </div>
</ion-content>