<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Upload Fundraiser Edit</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login-section ion-padding">
    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

      <div class="photos">Upload cover photo</div>
      <div>
        <ion-row no-padding>
          <ion-col size="10" offset="1">
            <img [src]="image" alt="this is the image" />
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Choose cover photo
          </ion-button>
        </ion-row>
      </div>

      <div class="login-form inputs">
        <br />
        <div class="photos">General information</div>
        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">First name</ion-label>
            <ion-input class="form-input" type="text" formControlName="receiverName"></ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">What are you fundraising for?</ion-label>
            <ion-input class="form-input" type="text" formControlName="title"
              placeholder="What are you fundraising for?">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Referrence</ion-label>
            <ion-input class="form-input" type="text" formControlName="references" maxlength="6"
              placeholder="referrence">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Ending date</ion-label>
            <ion-input class="form-input" formControlName="endingDAte" placeholder="22 feb 2022">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed"></ion-label>
            <textarea placeholder="Tell us why are you raising this money in a paragraph of 100 minimun words"
              formControlName="description"></textarea>
          </ion-item>
        </div>

        <br />
        <div class="photos">Statistics</div>
        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Benefectors</ion-label>
            <ion-input class="form-input" type="number" formControlName="benefactors" placeholder="0">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Amount</ion-label>
            <ion-input class="form-input" type="number" formControlName="targetAmount" placeholder="R3000">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Raised so far</ion-label>
            <ion-input class="form-input" type="number" formControlName="raisedAmount" placeholder="R3000">
            </ion-input>
          </ion-item>
        </div>

        <br />
        <div class="photos">Bank information</div>
        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Bank name</ion-label>
            <ion-input class="form-input" formControlName="bankName" placeholder="nedbank">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-item class="contact-input ion-margin-bottom" mode="md">
            <ion-label position="fixed">Bank account</ion-label>
            <ion-input class="form-input" type="number" formControlName="bankAccount" placeholder="5554544414">
            </ion-input>
          </ion-item>
        </div>

        <br />


        <br />
      </div>

      <div class="login-form inputs">
        <ion-row>
          <ion-col>
            <ion-button class="submit-button" expand="block" type="submit" [disabled]="!validations_form.valid">Save
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="delete-button" expand="block" color="danger" (click)="delete()">Delete</ion-button>
          </ion-col>
        </ion-row>
      </div>

    </form>
  </div>
</ion-content>