<ion-header class="ion-no-border">
  <ion-toolbar  class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Change Password</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)=" onChange()">
      <ion-item  lines="inset">
        <ion-icon name="lock-closed-outline"  class="user-icon" slot="start" size="20px"></ion-icon>
          <ion-label  class="user-info"><ion-text class="user-infos">New Password</ion-text><br />
            <ion-input type="password" [disabled]="true" [(ngModel)]="password" name="password" required></ion-input>
          </ion-label>
      </ion-item>
      <small *ngIf="form.get('password').invalid && (form.get('password').dirty ||form.get('password').touched )">
        <small *ngIf="(form.get('password')).errors?.required" class="fields">This field is required</small>
        <small *ngIf="(form.get('password')).errors?.minlength" class="fields">Password should at least have 6 characters</small>
      </small>
  </form>

  <div class="action-buttons">
    <ion-button [disabled]="!form.valid" type="submit" mode="ios" class="signin-btn"(click)="updateProfile()">Change password</ion-button>
  </div>

</ion-content>
