<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Updates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div lines="inset" *ngIf="items">
    <div *ngIf="items.length > 0">
      <div *ngFor="let item of items" [routerLink]="['/updates-details', item.payload.doc.id]">
        <div class="campaing-live">
          <div class="image">
            <img [src]="item.payload.doc.data().image" />
          </div>
          <ion-row>
            <ion-label class="name">
              {{item.payload.doc.data().title}}
            </ion-label>
          </ion-row>
          <div class="about">
            <ion-label class="abt-cmp"></ion-label>
            <ion-label class="abt-description">
              {{item.payload.doc.data().storysummary}}
            </ion-label>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</ion-content>
