<ion-header class="ion-no-border">
  <ion-toolbar class="header" color="light">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-text-center header">
    <img src="../../../assets/drawable-hdpi-icon.png">
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button [disabled]="!form.valid" type="submit" mode="ios" (click)="resetPassword()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Reset Password</ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form" (ngSubmit)="onForgot()">
          <!-- <div class="login-form">
            <div class="form-input">
              <ion-icon name="mail-outline"></ion-icon> -->
              <ion-item>
                <!-- <ion-label>Email</ion-label> -->
                <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="true" formControlName="email"></ion-input>
              </ion-item>
              <div *ngIf="(form.get('email').invalid && (form.get('email')).touched) || (form.get('email')).dirty">
                <small *ngIf="(form.get('email')).errors?.required" class="fields">This field is required</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="(form.get('email')).errors?.pattern" class="fields">Please provide a valid email
                  address</small>
              </div>
            <!-- </div> -->
          <!-- </div> -->
        </form>
        <div class="ion-margin-horizontal create-account">
          Go back to
          <a routerLink="/login">
            Sign In
          </a>
        </div>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
