<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">FAQ</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <!-- <h3 class="ion-text-center">What do we do with the money donated on the app?</h3>

    <p class="ion-padding terms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt error eius illo
      officia omnis minima reprehenderit quo totam! Voluptates similique quas sed possimus in nihil,
      obcaecati consequuntur blanditiis explicabo. Repudiandae!</p>

    <h3 class="ion-text-center text">Privacy</h3>

    <p class="ion-padding terms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt error eius illo
      officia omnis minima reprehenderit quo totam! Voluptates similique quas sed possimus in nihil,
      obcaecati consequuntur blanditiis explicabo. Repudiandae!</p>
  </div>
</ion-content> -->
