<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" class="title"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" class="title">Bussiness history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" class="ion-padding ion-text-center">
  <div *ngIf="items.length > 0" class="list-mini">

    <div class="scroll" scrollX="true">
      <table class="styled-table ">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Phone number</th>
            <th>Email address</th>
            <th>website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items" [routerLink]="['/bussiness-upload-edit', item.payload.doc.id]">
            <td>{{item.payload.doc.data().name}}</td>
            <td>{{item.payload.doc.data().call }}</td>
            <td>{{item.payload.doc.data().email}}</td>
            <td>{{item.payload.doc.data().website}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>
