<ion-content fullscreen="true">

  <div class="card">

    <div class="login-section ion-padding">
      <form [formGroup]="form" (ngSubmit)=" onDonate()">
        <div>
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-item lines="none">
            <ion-label>Enter reference</ion-label>
            <ion-input type="name" [(ngModel)]="name" name="name" maxlength="30" clearInput="true"
              placeholder="Use bussiness name as reference" formControlName="ref">
            </ion-input>
          </ion-item>
          <small *ngIf="form.get('ref').invalid && (form.get('ref').dirty ||form.get('ref').touched )">
            <small *ngIf="(form.get('ref')).errors?.required" class="fields">no space between</small>
            <small *ngIf="(form.get('ref')).errors?.maxlength" class="fields">no space between</small>
          </small>
        </div>


        <div>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label>Enter email address</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" maxlength="50" clearInput="true"
              placeholder="Enter email" formControlName="email">
            </ion-input>
          </ion-item>
          <div *ngIf="(form.get('email').invalid && (form.get('email')).touched) || (form.get('email')).dirty">
            <small *ngIf="(form.get('email')).errors?.required" class="fields">This field is required</small>
            <small *ngIf="(form.get('email')).errors?.pattern" class="fields">Please provide a valid email
              address</small>
          </div>
        </div>

        <div class="action-buttons">
          <ion-button expand="full" shape="round" [disabled]="!form.valid" type="submit" mode="ios" angular4-paystack [ref]="name"
            [email]="email" [amount]="120 * 100" [currency]="'ZAR'" [ref]="reference"
            (paymentInit)="paymentInit()" (onClose)="paymentCancel()" (callback)="paymentDone($event)">
            Pay Now
          </ion-button>
        </div>

      </form>
      <div class="end ion-text-center">
        <ion-icon class="end-icon" name="lock-closed"></ion-icon>
        <p>
          Secured by paystack
        </p>
      </div>
    </div>
  </div>
</ion-content>
